.view-profile-modal {
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-close {
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 30px;
}

.modal-close:hover {
    color: grey;
}